.term {
  @media screen and (max-width: 992px) {
  }
  .content {
    @media screen and (max-width: 992px) {
    }
    p {
      font-family: "Brandon Grotesque";
      text-align: left;
      color: #053d76;
      font-size: 22px;
      margin: 1.875rem 12.5rem;
      line-height: 33px;
      @media screen and (max-width: 992px) {
        font-size: 16px;
        margin: 2.5rem;
        line-height: 24px;
      }
      span {
        font-weight: bold;
        span {
          color: #ff8d83;
        }
      }
    }
  }
}
